<div *ngFor="let expression of logicalExpressions;let i=index">
  <app-expression #expressionView [expression]="expression" [operandType]="'LOGICAL'" [properties]="properties" (onChange)="detectChange()">
  </app-expression>&nbsp;&nbsp;
  <select *ngIf="i!=logicalExpressions.length-1" class="form-control-sm" [(ngModel)]="conjunctions[i]">
    <option value="&&">and</option>
    <option value="||">or</option>
  </select>
</div>
<a (click)="logicalExpressions.push({})" class="addnewbtn"><em>Add Another Expression</em></a>
<br />
<br />

<h5>Compiled Expression:</h5>
<br />
<div class="card card-body bg-light">
{{expression}}
</div>