.addnewbtn {
    cursor: pointer;
    color:blue !important;
    text-decoration: underline !important;
}
.expression-container {
    margin-bottom:5px;    
}
.logical-operator-container {
    margin-top:5px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    padding:10px;
}
