<div *ngFor="let expression of expressions;let i=index" class="expression-container">
  <app-expression #expressionView [operandType]="'LOGICAL'" [properties]="properties"
    (onChange)="detectChange()" [(expressionData)]="expression.expressionData">
  </app-expression>
  <div class="logical-operator-container">
    <select *ngIf="i!=expressions.length-1" [(ngModel)]="expression.conjunction">
      <option value="&&">and</option>
      <option value="||">or</option>
    </select>
  </div>
</div>
<a (click)="expressions.push({})" class="addnewbtn"><em>Add Another Expression</em></a>