<div class="expression-container">
    <div class="expression"><em>{{leftExpression}}</em> <select class="operator" [(ngModel)]="expressionData.operator">
            <option *ngFor="let o of operators" [value]="o.value">{{o.label}}</option>
        </select> <em>{{rightExpression}}</em>
    </div>
    <div class="operand-container">
        <div class="connector"></div>
        <div class="left-right-txt">Left:</div>
        <app-operand-container #leftOperand [properties]="properties" [operandData]="expressionData.leftOperand">
        </app-operand-container>
    </div>
    <div class="operand-container">
        <div class="connector"></div>
        <div class="left-right-txt">Right:</div>
        <app-operand-container #rightOperand [properties]="properties" [operandData]="expressionData.rightOperand">
        </app-operand-container>
    </div>
</div>