<div class="operand-container">
  <div class="operand-part">
    <select [(ngModel)]="operandData.type" (ngModelChange)="initializeSubExpression()">
      <option value="PROPERTY">Property</option>
      <option value="NESTED">Nested Expression</option>
      <option value="CUSTOM">Custom Expression</option>
    </select>
  </div>
  <div class="operand-part">
    <select *ngIf="operandData.type=='PROPERTY'" [(ngModel)]="operandData.property">
      <option *ngFor="let obj of properties" [ngValue]="obj.value">{{obj.name}}</option>
    </select>
  </div>
  <div class="operand-part">
    <div class="nested-expression-container">
      <app-expression *ngIf="operandData.type=='NESTED'" [operandType]="'ARITHMETIC'" #subExpression
        [properties]="properties" [(expressionData)]="operandData.expressionData">
      </app-expression>
    </div>
  </div>
  <div class="operand-part">
    <input *ngIf="operandData.type=='CUSTOM'" [(ngModel)]="operandData.customExpression" />
  </div>
</div>