.operand-container{
    padding:5px;
    display: inline-block;
    
}
.nested-expression-container{
    display:inline-block;
}
.operand-part {
    display: inline-block;
    margin:0 5px;
    vertical-align: middle;
}